extend layout

block content
	br
	hr(style="width:1000px; color:white")
	div.container-fluid
		div.row
			div.col-md-0.col-md-offset-4
				table(class="table")
					thead
						tr
							th.table-header #{firstName}
							th.table-header.spotify-green #{secondName}
